body {
    background: #e0f7fa;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f9a825 !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f9a825 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f9a825 !important;
}

.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}
